@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Bold.ttf) format("truetype");
}
body{
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.icons{
    width: 20px;
    height: 20px;
}
.home-social{
  padding: 0;
}
.home-social ul{
    display: flex;
    flex-direction: row;
    width: calc(80%);
    height: 50px;
    list-style-type:none;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
}
.home-img{
    width: 100%;
    height: 500px;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/header.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}
.home{
    position: relative;
    height: 500px;
    width: 100%;
}
.home-content{
    width: 100%;
    position: absolute;
    top:0;
}
.contenue{
    width: 80%;
    height: calc(100%-40%);
    margin-left: 10px;
}
.contenue .me{
    margin-top: 30%;
    font-family:"Dosis" sans-serif;
    display: block;
    font-weight: 500;
    font-size: xx-large;
    color:rgba(255, 255, 255,0.9);
    line-height: 1.2;
}
.contenue .name{
    font-size: 10vw;
    color:rgba(255, 255, 255,0.8);
    font-weight:bold;
    display: block;
    margin-top: -5px;
}
.contenue .metier{
    letter-spacing: 2px;
    color:white;
    line-height: 1.2em;
}
.contenue .button-print{
    display: block;
    width: 150px;
    height: 50px;
    border: solid;
    background-color:rgb(250, 97, 92);
    border-radius:30px;
    color:white;
    padding-top: 10px;
    text-align: center;
    margin: 20px 0;
}
.contenue .button-print::before{
    content: "";
    background-image: url("../img/icons/print-solid.svg");
}
.right{
    margin-right: 0 !important;
}
#liens{
}
.invisible{
    display: none;
}
.container{
    height: 100px;
    width: 100%;
}
.brand-img{
  height: 150px;
}
.avatar1{
    display: none;
}
.brand-img{
    border: 2px solid;
    border-radius:200px;
}
.visible{
    display:block;
}
.active{
    color:red !important; 
}
@media only screen and (min-width:600px){
    .contenue .me{
        margin-top: 10%;
    }
    .contenue{
        margin-left:3.5vw;
    }
}
@media only screen and (min-width:350px){
    .home-social ul{
        width: 300px;
    }
}
@media only screen and (min-width:700px){
    .home-social ul{
    margin:0;
        
    }
}